#chat-screen {
  height: 200vh;
}

#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: var(--chat-bg);
}

#chat-screen .alt-header {
  position: sticky;
  top: 26px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats__timestamp {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 22px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 42%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 8px;
  display: block;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message__info {
  display: flex;
  align-items: end;
}

@keyframes messageBubblePop {
  to {
    transform: none;
  }
}

.message__info {
  transform: translateX(-30%) rotateY(110deg);
  animation: messageBubblePop 0.5s cubic-bezier(0.075, 0.33, 0.505, 1.365)
    forwards;
}

.message__bubble {
  background-color: white;
  padding: 8px 12px;
  border-radius: 12px;
  border-top-left-radius: 0;
  font-size: 18px;
}

.message__time {
  margin: 0 6px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 12px;
}

.message-row--own .message__info {
  transform: translateX(30%) rotateY(90deg);
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.6;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  padding: 15px;
  height: 30px;
  width: 100%;
  border: var(--gray-line);
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 15px;
}

.reply__column button {
  background-color: var(--yellow);
  border: 1px solid #eed704;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply button,
.reply .fa-face-smile,
.reply .reply__column:first-child {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within button,
.reply:focus-within .fa-face-smile,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
